<h1>Bienvenue sur StrongBox !</h1>
<p>Merci pour votre inscription.</p>
<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant :
</p>
<p>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>
</p>
<p>
    Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.
</p>
