{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h2>Mentions légales</h2>
<h4>Éditeur du site</h4>
    <p><strong>StrongBox</strong><br>

    <h4>Directeur de la publication</h4>
    <p>Beghdadi</p>

    <h4>Hébergement</h4>
    <p>Le site StrongBox est hébergé par :<br>
    Nom de l’hébergeur : Github<br>

    <h4>Propriété intellectuelle</h4>
    <p>Tous les contenus présents sur ce site (textes, images, logos, vidéos, etc.) sont protégés par le droit d’auteur et sont la propriété exclusive de StrongBox ou de ses partenaires. Toute reproduction ou utilisation sans autorisation est interdite.</p>

    <h4>Données personnelles</h4>
    <p>Les données personnelles collectées via StrongBox sont utilisées uniquement dans le cadre de l’application et ne sont pas communiquées à des tiers sans votre consentement. Pour plus d’informations, consultez notre <a href="{{ path('conditions_utilisation') }}">Politique de confidentialité</a>.</p>

    <h4>Responsabilité</h4>
    <p>StrongBox met tout en œuvre pour assurer la disponibilité et la sécurité du site, mais ne peut être tenu responsable des interruptions, erreurs ou dommages liés à l’utilisation du service.</p>

    <p class="text-center mt-5"><small>© {{ "now"|date("Y") }} StrongBox. Tous droits réservés.</small></p>{% endblock %}
