{% extends 'base.html.twig' %}

{% block title %}New Mdp{% endblock %}

{% block body %}
    <h1>Create new Mdp</h1>

    {{ include('mdp/_form.html.twig') }}

    <a href="{{ path('app_mdp_index') }}">back to list</a>
{% endblock %}
